@keyframes mobile_menu_modal {
    0% {
        display: none;
        opacity: 0;
        top: -200px;
    }
    1% {
        display: block;
        opacity: 0;
        top: -200px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes mobile_page_modal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}