@import 'variables';

@media only screen and (max-width: 600px)
{

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        margin: 0;
        padding: 0;
        .--modal-title {
            padding: 30px 0;
        }
        .--modal-item {
            padding: 25px 30px;
            margin: 5px 0 0 0;
            background: $lightgrey;
        }
    }

    .img-under_header {
        height: 100px;
    }

    .img-mobile {
        width: 160px;
        height: auto;
        position: relative;
        left: 10px;
    }

    .img-mobile-menu {
        width: 60px;
        position: relative;
        top: 10px;
        right: 20px;
    }

    .border-top-teal {
        border-top: 5px solid $teal;
    }

    .border-bottom-teal {
        border-bottom: 5px solid $teal;
}
}