@import 'variables';

@media only screen and (max-width: 600px)
{

    .modal-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        margin: 0;
        padding: 0;
        z-index: 100;
        .--modal-title {
            padding: 30px 0;
        }
        .--modal-item {
            padding: 25px 30px;
            margin: 5px 0 0 0;
            background: $lightgrey;
        }
    }

    .banner-container{
        .banner {
            background-image: url('../../Resources/images/Dev_Test_Assets/water-image.png');
            background-repeat: no-repeat;
            background-size: 235%;
            background-position: center;
            background-position-y: 25%;
            height: 80px;
        }
    }

    .img-mobile {
        width: 160px;
        height: auto;
        position: relative;
        left: 10px;
    }

    .img-mobile-menu {
        width: 60px;
        position: relative;
        top: 5px;
        right: 5px;
    }

    .border-top-teal {
        border-top: 5px solid $teal;
    }

    .border-bottom-teal {
        border-bottom: 5px solid $teal;
    }
}