
$grey: rgb(97,97,97);
$lightgrey: rgb(246,246,246);
$lightgrey2: rgb(216,216,216);
$darkgrey: rgb(63,63,63);
$blue: rgb(8,61,140);
$lightblue: rgb(33,108,223);
$teal: rgb(11,201,200);
$white: rgb(255,255,255);
$boxShadow: rgba(0,0,0,.5);