.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-row {
    flex-direction: row;
}
.flexbox-col {
    flex-direction: column;
}

#header-logo {
    width: auto;
    height: 20px;
}

#menu-list {
    display: none;
    position: relative;
    padding-left: 0;
    background: #fff;
    border-bottom: 5px solid rgb(2,199,198);
    border-top: 5px solid rgb(2,199,198);
    margin: 0 auto;
    width: 100%;
    z-index: 200;
}